
form {
    overflow: hidden;
    display: grid;
    grid-template-columns: 300px;
    grid-gap: 10px;
}
 
label {
    color: blue;
}
 
input,textarea {
    background-color: lightgray;
}
 
button {
    float: right;
    width: 100px;
}