form {
    overflow: hidden;
}
 
label {
    float: left;
    width: 300px;
    padding-right: 24px;
}
 
input {
    float: left;
    width: calc(100% - 200px);
}
 
button {
    float: right;
    width: calc(100% - 200px);
}